practice_2/RUN_SIM/
practice_2/incremental_db/
practice_2/db/

laba1/RUN_SIM/
laba1/db/
laba1/qua/
laba1/incremental_db/

laba2/RUN_SIM/
laba2/qua/

practice_3/RUN_SIM/
practice_3/qua/

lecture_6/RUN_SIM/
lecture_6/qua/
